In [1]:
#pip install yfinance
#pip install altair

In [27]:

import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [30]:
days = 20
tickers = {
    'SPY':'SPY',
    'QQQ':'QQQ',
    'VYM':'VYM'
    
}

df = pd.DataFrame()
for company in tickers.keys():
    tkr = yf.Ticker(tickers[company])
    hist=tkr.history(period=f'{days}d')
    hist = hist[['Close']]
    hist.columns = [company]
    hist = hist.T
    hist.index.name='Name'
    df=pd.concat([df,hist])

SPY: Period '20d' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']
QQQ: Period '20d' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']
VYM: Period '20d' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']

In [29]:
df

Date,2024-09-23 00:00:00-04:00,2024-09-24 00:00:00-04:00,2024-09-25 00:00:00-04:00,2024-09-26 00:00:00-04:00,2024-09-27 00:00:00-04:00
Name,,,,,
SPY,569.669983,571.299988,570.039978,572.299988,571.469971
QQQ,483.040009,485.369995,485.820007,489.470001,486.750000
VYM,127.570000,127.730003,126.839996,127.400002,127.760002